{% extends 'base.html.twig' %}

{% block title %}Proposer un projet{% endblock %}

{% block body %}
    <h1>Proposer un projet</h1>

    {{ include('project/_form.html.twig') }}

    <hr>
    <a href="{{ path('homepage') }}" class="btn btn-secondary">Annuler et retourner à l'acceuil</a>
{% endblock %}
